



/*------Menu------*/

nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    padding: 10px;
    background-color: greenyellow;
    border: 1px solid black;
}
nav ul li a{
    color: black;
    text-decoration: none;

}

/*Body*/

body{
    padding: 10px;
}

h1{
    font-family: "Comic Sans MS", "Comic Sans" ;
    color: red;
}
p{
    font-size: large;
    font-family: 'Raleway', sans-serif;
}
.parrafos{
    margin: 20px;
}

.parrafo1{
    display: flex;
}
h2{
    font-family: "Comic Sans MS", "Comic Sans" ;
    color: green; 
}

li, ul, ol{
    font-size: large;
    font-family: 'Raleway', sans-serif;
}



/*------Tabla------*/

th, td, tr, thead, tbody{
    border: 1px solid black;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}
th{
    background-color: rgba(190, 190, 190, 0.521);
}
table{
    border-collapse: collapse;
}
.centrado{
    display: flex;
    justify-content: center;
}
.campeon{
    background-color: gold;
}
.subcampeon{
    background-color: silver;
}
.semifinalist{
    background-color: rgb(221, 85, 35);
}
.bandera{
    padding: 2px;
}

th a, td a{
    text-decoration: none;
}